# Jekyll configuration for Open SDG platform

frontpage_sidebar: custom.frontpage_intro_sidebar

remote_theme: open-sdg/open-sdg@2.3.0
title: general.site_title
baseurl: "/sdg-site-kazstat"
url: ""

# Pages
collections:
  pages:
    output: true
    permalink: /:path/
  posts:
    output: true
    permalink: /news/:year/:month/:day/:title.html
  indicators:
    output: true
  goals:
    output: true

# Tell Jekyll to use the Remote Theme plugin.
plugins:
  - jekyll-remote-theme
  - jekyll-open-sdg-plugins

exclude:
  - vendor
  - scripts
  - remotedata
  - Gemfile
  - Gemfile.lock
  - README
  - README.md
  - LICENSE
  - .sass-cache
