#main-content.goal-indicators.goal-by-target {
  .indicator-cards.target, .indicator-cards.row, .infographic {
    margin-bottom: 30px;
  }
}
.infographic img {
  max-width: 100%;
}

// Custom frame for frontpage.
body.layout-frontpage {

  background: white;
  padding-top: 0;

  .site-intro-sidebar {
    display: none;
  }

  @media only screen and (min-width: 768px) {

    .site-intro {
      position: relative;
    }

    .site-intro-sidebar {
      display: block;
      position: absolute;
      top: 200px;
      right: 23px;
      width: 240px;
      text-align: center;
      .btn {
        margin-bottom: 1.5rem;
        white-space: normal;
        width: 100%;
      }
    }

    .homepage-goal-grid {
      position: relative;
      padding: 70px;
      &::before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        background:
          url(../img/frame-upper-left.png) left 0px top 0px no-repeat,
          url(../img/frame-upper-right.png) right 0px top 0px no-repeat,
          url(../img/frame-lower-left.png) left 0px bottom 0px no-repeat,
          url(../img/frame-lower-right.png) right 0px bottom 0px no-repeat,
          transparent;
        border: 1px solid #CCC;
        left: 0;
        top: 0;
        pointer-events: none;
      }
    }
  }

  &.contrast-high {

    background: black;

    @media only screen and (min-width: 768px) {
      .homepage-goal-grid::before {
        background:
          url(../img/high-contrast/frame-upper-left.png) left 0px top 0px no-repeat,
          url(../img/high-contrast/frame-upper-right.png) right 0px top 0px no-repeat,
          url(../img/high-contrast/frame-lower-left.png) left 0px bottom 0px no-repeat,
          url(../img/high-contrast/frame-lower-right.png) right 0px bottom 0px no-repeat,
          transparent;
      }
    }
  }
}
