#main-content.goal-indicators.goal-by-target .indicator-cards.target, #main-content.goal-indicators.goal-by-target .indicator-cards.row, #main-content.goal-indicators.goal-by-target .infographic {
  margin-bottom: 30px; }

#main-content.goal-tiles .row {
  border-right: 2px solid black;
  border-left: 2px solid black; }
#main-content.goal-tiles > div:first-of-type {
  border-top: 2px solid black; }
#main-content.goal-tiles > div:last-of-type {
  border-bottom: 2px solid black; }
