header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
}

@media (max-width: 600px) {
    header {
        padding-bottom: 20px;
    }
}

.navbar {
    padding-bottom: 0;
    position: relative;
    margin-top: 40px;
    padding-top: 0;
}

.navbar-brand {
    max-width: 250px;
}

#menu {
    margin-bottom: 0;
}

.navbar .navbar-nav > .nav-item > .nav-link:hover {
    border-color: rgba(2, 89, 188, 1);
}

.navbar .navbar-nav > .nav-item > .nav-link {
    padding-bottom: 1rem;
    font-size: 16px;
    line-height: 24px;
}

#search input {
    border-radius: 8px;
    border: 1.25px solid rgba(125, 140, 153, 0.07);
    background: rgba(125, 140, 153, 0.07);
    padding-left: 40px;
}

.contrast-high #search input {
    background: #eeeeee ;
}

#search button {
    background: none;
    color: rgba(71, 139, 202, 1);
    border: none;
    position: absolute;
    left: 0px;
    z-index: 3;
    border-radius: 8px;
}

@media only screen and (min-width: 992px) {
    .header-search-bar {
        right: 180px;
        top: 30px;
    }
}

.language-toggle-container .dropdown-toggle {
    border: 1px solid rgba(70, 137, 198, 1);
    border-radius: 8px;
    height: 38px;
    font-size: 16px;
}

.language-toggle-container .dropdown-toggle i {
    display: none;
}

.language-toggle-container .dropdown .dropdown-menu {
    border-radius: 8px;
}

@media only screen and (min-width: 992px) {
    .header-toggles {
        position: absolute;
        top: 30px;
        right: 0;
        width: auto;
    }
}

@media only screen and (min-width: 768px) {
    .site-intro-sidebar .btn {
        min-height: 92px;
    }

    .site-intro-sidebar .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 88, 239, 0.07)!important;
        border-radius: 4px;
        border-bottom: 1px solid #0058ef!important;
        box-shadow: none;
        font-weight: 400;
        font-size: 16px;
        color: #023388!important;
    }

    .site-intro-sidebar .btn:hover {
        background: rgba(0, 88, 239, 0.1)!important;
    }
}

.site-intro h1 {
    font-weight: 700;
}

.site-intro p.lead-copy {
    font-size: 16px;
}

@media only screen and (min-width: 992px) {
    .frontpage-cards {
        border: 2px solid rgba(203, 148, 47, 0.5);
        padding: 20px;
    }

    .frontpage-cards .col-md-12 {
        text-align: center;
    }
}

.btn-download {
    background: rgba(203, 148, 47, 1) !important;
     box-shadow: none !important;
}

.btn-download:hover {
    background: rgb(164 119 37) !important;
}

.zip-download-container a.btn.btn-download {
    padding: 15px 25px;
}

/* Goals block */
@media only screen and (min-width: 768px) {
    body.layout-frontpage .frontpage-goals-grid {
        padding: 0;
    }

    body.layout-frontpage .frontpage-goals-grid::before {
        content: none;
    }
}

.card-block {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin: 60px 0px;
}

.card-item {
    border-bottom: 1px solid #fff;
    width: 130px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(2px);
    background: rgb(239 56 76);
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.contrast-high .card-item,
.contrast-high .card-item[class^="goal-"],
.contrast-high .card-item[class*=" goal-"]
{
    background: none;
    border: 1px solid #ffffff;
}

.card-item:hover {
    opacity: 1;
    transform: translateY(-9px);
    text-decoration: none;
}

.card-item--number {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 15px;
}

.card-item--title {
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;
    word-wrap: break-word;
    margin-bottom: auto;
}

.card-item--icon {
    text-align: right;
    margin-top: 15px;
}

.card-item.goal-1 {

}

.card-item.goal-2 {
    background: rgba(233, 178, 51, 1);
}

.card-item.goal-3 {
    background: rgba(16, 163, 72, 1);
}

.card-item.goal-4 {
    background: rgba(228, 35, 56, 1);
}

.card-item.goal-5 {
    background: rgba(241, 82, 61, 1);
}

.card-item.goal-6 {
    background: rgba(0, 170, 212, 1);
}

.card-item.goal-7 {
    background: rgba(255, 170, 0, 1);
}

.card-item.goal-8 {
    background: rgba(184, 30, 76, 1);
}

.card-item.goal-9 {
    background: rgba(242, 116, 57, 1);
}

.card-item.goal-10 {
    background: rgba(240, 45, 121, 1);
}

.card-item.goal-11 {
    background: rgba(251, 156, 50, 1);
}

.card-item.goal-12 {
    background: rgba(203, 148, 47, 1);
}

.card-item.goal-13 {
    background: rgba(15, 128, 76, 1);
}

.card-item.goal-14 {
    background: rgba(16, 150, 211, 1);
}

.card-item.goal-15 {
    background: rgba(46, 178, 77, 1);
}

.card-item.goal-16 {
    background: rgba(6, 111, 159, 1);
}

.card-item.goal-17 {
    background: rgba(7, 75, 110, 1);
}

/* END Goals block*/

/* Badges */
.status {
    border-radius: 2px;
    padding: 2px 8px;
    font-size: 14px;
    line-height: 140%;
}

.layout-reportingstatus #main-content .statuses > div .status.complete .status-inner, .status.complete {
    color: rgba(46, 178, 77, 1);
    border: none!important;
    background-color: rgba(46, 178, 77, 0.2)!important;
    background: rgba(46, 178, 77, 0.2)!important;
}
.layout-reportingstatus #main-content .statuses > div .status.complete .status-inner, .status.complete .status-inner {
    background-color: transparent!important;
    background: none!important;
}

.layout-reportingstatus #main-content .statuses > div .status.notapplicable, .status.notapplicable {
    color: rgba(203, 148, 47, 1);
    border: 1px solid rgba(203, 148, 47, 0.2);
    background-color: rgba(203, 148, 47, 0.2);
    background: rgba(203, 148, 47, 0.2);
}

.layout-reportingstatus #main-content .statuses > div .status.notapplicable .status-inner, .status.notapplicable .status-inner {
    background-color: transparent;
    background: none;
}

.layout-reportingstatus #main-content .statuses > div .status.notstarted, .status.notstarted {
    color: rgba(41, 65, 105, 1);
    border: 1px solid rgba(2, 125, 188, 0.2);
    background-color: rgba(2, 125, 188, 0.2);
}

.layout-reportingstatus #main-content .statuses > div .status.notstarted .status-inner, .status.notstarted .status-inner {
    background-color: transparent;
    background: none;
}
/* END Badges */

/* Progress bar*/
.layout-reportingstatus #main-content .goal-stats .complete {
    background-color: rgba(46, 178, 77, 0.2);
    background: rgba(46, 178, 77, 0.2);
}

.layout-reportingstatus #main-content .goal-stats .notstarted {
    background-color: rgba(2, 125, 188, 0.2);
    background: rgba(2, 125, 188, 0.2);
}

.layout-reportingstatus #main-content .goal-stats .notapplicable {
    background-color: rgba(203, 148, 47, 0.2);
    background: rgba(203, 148, 47, 0.2);
}

.layout-reportingstatus #main-content .goal-stats {
    border: 1px solid #ccc;
}
/* END Progress bar*/


footer {
    background: rgb(29, 34, 37);
    padding: 40px 0;
    margin-top: 40px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#footerLinks ul {
    margin-bottom: 0;
}
