{% assign lang = page.language | default: page.lang | default: site.lang | default: "en" %}
{% assign lang = lang | slice: 0,2 %}

{% assign downloads = site.data.indicator_downloads[page.indicator] %}

{% if downloads %}
  {% assign wanted_folder = "data-metadata-pdf-" | append: lang %}

  {% for d in downloads %}
    {% if d.path contains wanted_folder %}
      <a class="btn btn-primary" href="{{ d.path }}" target="_blank" rel="noopener">
        {{ d.label }}
      </a>
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}
